<h1 id="tableLabel">Todo List</h1>

<table *ngIf="tasks" class="container">
    <tbody>
        <tr app-task
            *ngFor="let task of tasks"
            id="{{task.id}}"
            class="py-1"
            [task]="task"
            (update)="updateTask(task);"
            (delete)="deleteTask(task.id);">
        </tr>
        <tr>
            <td class="table-col-3 py-1"></td>
            <td class="py-1 px-0">
                <input
                    #newTask
                    class="task-input w-100 bg-transparent"
                    placeholder="Add a task"
                    (keyup.enter)="createTask({ id: 0, label: newTask.value, isCompleted: false }); newTask.value='';"
                />
            </td>
            <td class="table-col-3 py-1">
                <button
                    class="btn btn-primary task-button"
                    (click)="createTask({ id: 0, label: newTask.value, isCompleted: false }); newTask.value='';">
                    <i class="fa fa-plus"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
