<td class="table-col-3 py-1">
    <input
        class="task-checkbox"
        type="checkbox"
        [checked]="task.isCompleted"
        (change)="editIsCompleted(!task.isCompleted);"
    />
</td>
<td class="py-1">
    <div
        id="{{'label-' + task.id}}"
        class="h-auto text-left font-weight-bold"
        [ngClass]="{ 'd-none': isLabelSelected, 'task-completed': task.isCompleted }"
        (click)="selectLabel($event)">
        {{ task.label }}
    </div>
    <input
        #newTaskLabel
        id="{{'input-' + task.id}}"
        class="task-input w-100 bg-transparent"
        placeholder="Edit task"
        [value]="task.label"
        [ngClass]="{'d-none': !isLabelSelected}"
        (clickOutside)="unselectLabel($event);"
        (keyup.enter)="editLabel(newTaskLabel.value);"
    />
</td>
<td class="table-col-3 py-1">
    <button
        class="btn btn-primary task-button"
        [ngClass]="{'d-none': isLabelSelected}"
        (click)="delete.emit();">
        <i class="fa fa-trash"></i>
    </button>
    <button
        *ngIf="isLabelSelected"
        class="btn btn-primary task-button"
        [ngClass]="{'d-none': !isLabelSelected}"
        (click)="editLabel(newTaskLabel.value);">
        <i class="fa fa-pencil"></i>
    </button>
</td>