/* You can add global styles to this file, and also import other style files */

@import "../node_modules/font-awesome/scss/font-awesome.scss";

input[type=checkbox] {
    vertical-align: middle;
}

.btn:focus, .btn:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}

.table-col-3 {
    width: 3rem;
}

.task {
    .task-checkbox {
        width: 1.5rem;
        height: 1.5rem;
    }
    
    .task-label {
        display: inline-block;
        height: 1.75rem;
        line-height: 1.75rem;
    }
    
    .task-input {
        height: 1.75rem;
        line-height: 1.75rem;
        border: 0;
        outline: 0;
        padding: 0;
    }
    
    .task-completed {
        text-decoration: line-through;
        opacity: 0.5;
    }
    
    .task-button {
        width: 1.75rem;
        height: 1.75rem;
        padding: 0;
        font-size: 1.25rem;
        border-radius: 0.125rem;
    
        i {
            display: flex;
            justify-content: center;
        }
    }

    .task-button-hover {
        display: none;
    }
}

.task:hover {
    .task-button-hover {
        display: inline-block;
    }
}